.App {
  text-align: center;
  /* background-image: url(https://www.airtahitinui.com/sites/default/files/travelinfo-pets-illust3.jpg) ; */
  background-color: lightgray;
}

.header{
  /* background-image: url(https://www.airtahitinui.com/sites/default/files/travelinfo-pets-illust3.jpg) ; */
  background-color: lightgray;
  color:steelblue;
}